
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  font-weight: 500;
  color: var(--accent-9);
  text-decoration: none;
}
a:hover {
  color: var(--accent-10);
}

body {
  background-color: var(--gray-1);
  color: var(--gray-12);
  font-family: system-ui, sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: var(--accent-9);
  color: var(--accent-contrast);
  border-radius: var(--radius-2);
  padding: 0.6em 1.2em;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}
button:hover {
  background-color: var(--accent-10);
}
button:focus {
  outline: 2px solid var(--accent-9);
}
